.intro-back-image {
    background: url('../img/maxresdefault.jpg') no-repeat center top;
    background-size: auto 760px;
    margin-top: 50px;
 }

.btn-intro-style {
    background-color: #FF0207;
    border-color: #FDFEF7;
    border: 3px solid;
    border-radius: 12px;
    position: absolute;
    right: 40px;
    bottom: 20px;
}

.btn-intro-style:hover,  .btn-intro-style:active, .btn-intro-style:focus {
    background-color: #FDFEF7;
    border-color: #FF0207;
    color: #FF0207;
}

.main-button-wrapper {
    height: 600px;
    position: relative;
}
