

.wrapper{
    width: 540px;
    height: 300px;
    position: relative;
    margin: auto;
    margin-top: 50px;
    background:url(http://301-1.ru/gen-mems/img_mems/775489689ac5eef9b2bf4e1c3459e8d6.jpg) no-repeat;
    transition:all 1s;
    

    
}


.wrapper:hover {
    background:transparent;
    
}



.cell {
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    border-radius: 50%;
    /*background-color: aquamarine*/;
    display: inline-block;
    float: left;
    text-align: center;
    line-height: 30px;
    color: transparent;
    border: 0 solid transparent;
    margin-top: 0;
    overflow: hidden;
    z-index: 1;
}

.row1 {
    position:absolute;
    margin-top: 50px;
}
.row2 {
    position:absolute;
    margin-top: 80px;
}
.row3 {
    position:absolute;
    margin-top: 110px;
}
.row4 {
    position:absolute;
    margin-top: 140px;
}
.row5 {
    position:absolute;
    margin-top: 170px;
}
.row6 {
    position:absolute;
    margin-top: 200px;
}

.wrapper:hover .row1 .cell:nth-child(3),
.wrapper:hover .row1 .cell:nth-child(n+7):nth-child(-n+9),
.wrapper:hover .row1 .cell:nth-child(13),
.wrapper:hover .row1 .cell:nth-child(14),
.wrapper:hover .row1 .cell:nth-child(18){
    background: url(https://yt3.ggpht.com/-Nsf244-8b-E/AAAAAAAAAAI/AAAAAAAAAAA/EQaUqtPwOzE/s100-c-k-no-rj-c0xffffff/photo.jpg);
    background-size: contain;
    border: 0 solid transparent;
    color: gold;
    font-size: 22px;
    opacity:1;
    -webkit-transform: rotateY(360deg);
    -webkit-transition: all 2s linear;
    -webkit-transform-origin: top left;
    transform: rotateY(360deg);
    transition: all 2s linear;
    transform-origin: top left;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
}
.wrapper:hover .row2 .cell:nth-child(2),
.wrapper:hover .row2 .cell:nth-child(7),
.wrapper:hover .row2 .cell:nth-child(9),
.wrapper:hover .row2 .cell:nth-child(13),
.wrapper:hover .row2 .cell:nth-child(15),
.wrapper:hover .row2 .cell:nth-child(18){
    background: url(https://yt3.ggpht.com/-Nsf244-8b-E/AAAAAAAAAAI/AAAAAAAAAAA/EQaUqtPwOzE/s100-c-k-no-rj-c0xffffff/photo.jpg);
    background-size: contain;
    border: 0 solid transparent;
    color: gold;
    font-size: 22px;
    -webkit-transform: rotateY(360deg);
    -webkit-transition: all 2s linear;
    -webkit-transform-origin: top left;


    -webkit-transition-delay: .1s;
}

.wrapper:hover .row3 .cell:nth-child(1),
.wrapper:hover .row3 .cell:nth-child(7),
.wrapper:hover .row3 .cell:nth-child(9),
.wrapper:hover .row3 .cell:nth-child(13),
.wrapper:hover .row3 .cell:nth-child(15),
.wrapper:hover .row3 .cell:nth-child(18){
    background: url(https://yt3.ggpht.com/-Nsf244-8b-E/AAAAAAAAAAI/AAAAAAAAAAA/EQaUqtPwOzE/s100-c-k-no-rj-c0xffffff/photo.jpg);
    background-size: contain;
    border: 0 solid transparent;
    color: gold;
    font-size: 22px;
    -webkit-transform: rotateY(360deg);
    -webkit-transition: all 2s linear;
    -webkit-transform-origin: top left;


    -webkit-transition-delay: .1s;
}

.wrapper:hover .row4 .cell:nth-child(1),
.wrapper:hover .row4 .cell:nth-child(7),
.wrapper:hover .row4 .cell:nth-child(9),
.wrapper:hover .row4 .cell:nth-child(13),
.wrapper:hover .row4 .cell:nth-child(15),
.wrapper:hover .row4 .cell:nth-child(18){
    background: url(https://yt3.ggpht.com/-Nsf244-8b-E/AAAAAAAAAAI/AAAAAAAAAAA/EQaUqtPwOzE/s100-c-k-no-rj-c0xffffff/photo.jpg);
    background-size: contain;
    border: 0 solid transparent;
    color: gold;
    font-size: 22px;
    -webkit-transform: rotateY(360deg);
    -webkit-transition: all 2s linear;
    -webkit-transform-origin: top left;


    -webkit-transition-delay: .1s;
    display: inline-block;
}

.wrapper:hover .row5 .cell:nth-child(2),
.wrapper:hover .row5 .cell:nth-child(n+6):nth-child(-n+10),
.wrapper:hover .row5 .cell:nth-child(13),
.wrapper:hover .row5 .cell:nth-child(14){
    background: url(https://yt3.ggpht.com/-Nsf244-8b-E/AAAAAAAAAAI/AAAAAAAAAAA/EQaUqtPwOzE/s100-c-k-no-rj-c0xffffff/photo.jpg);
    background-size: contain;
    border: 0 solid transparent;
    color: gold;
    font-size: 22px;
    -webkit-transform: rotateY(360deg);
    -webkit-transition: all 2s linear;
    -webkit-transform-origin: top left;


    -webkit-transition-delay: .1s;
}
.wrapper:hover .row6 .cell:nth-child(3),
.wrapper:hover .row6 .cell:nth-child(6),
.wrapper:hover .row6 .cell:nth-child(10),
.wrapper:hover .row6 .cell:nth-child(13),
.wrapper:hover .row6 .cell:nth-child(18){
    background: url(https://yt3.ggpht.com/-Nsf244-8b-E/AAAAAAAAAAI/AAAAAAAAAAA/EQaUqtPwOzE/s100-c-k-no-rj-c0xffffff/photo.jpg);
    background-size: contain;
    border: 0 solid transparent;
    color: gold;
    font-size: 22px;
    -webkit-transform: rotateY(360deg);
    -webkit-transition: all 2s linear;
    -webkit-transform-origin: top left;


    -webkit-transition-delay: .1s;
}

