.wrapper {
    width: 100%;
} 

.content {
    width: 658px;
    height: 200px;
    margin: 0 auto;
}

.row {
    width: 662px;
}

.row:nth-child(even) .letter:nth-child(odd) {
    background-color: black;
    color: red;
}

.row:nth-child(odd) .letter:nth-child(even) {
    background-color: black;
    color: white;
}

.letter {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: none;
}

.sign {
    font-family: 'Petit Formal Script', cursive;
    width: 660px;
    box-shadow: 1px 1px 20px 0px #000000;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 26px;
    color:#fff;
    background-color: black;
}

.frame-shadow {
    box-shadow: 1px 1px 20px 0px #000000;
}
