.wrapper {
    width: 100%;
} 

.content {
    width: 670px;
    height: 200px;
    margin: 0 auto;
}

.row {
    width: 662px;
}

.row:nth-child(even) .letter:nth-child(odd) {
    background-color: black;
    color: red;
}

.row:nth-child(odd) .letter:nth-child(even) {
    background-color: black;
    color: white;
}

.letter {
    display: inline-block;
    width: 40px;
    height: 40px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    border: none;
}

.sign {
    width: 660px;
    box-shadow: 1px 1px 20px 0px #000000;
    text-align: center;
    padding: 20px 0px 20px 0px;
    font-size: 26px;
    color:#fff;
    background-color:#696969;
    text-shadow:#ccc 0 1px 0, #c9c9c9 0 2px 0, #bbb 0 3px 0, #b9b9b9 0 4px 0, #aaa 0 5px 0,rgba(0,0,0,.1) 0 6px 1px, rgba(0,0,0,.1) 0 0 5px, rgba(0,0,0,.3) 0 1px 3px, rgba(0,0,0,.15) 0 3px 5px, rgba(0,0,0,.2) 0 5px 10px, rgba(0,0,0,.2) 0 10px 10px, rgba(0,0,0,.1) 0 20px 20px;
}
