.circle {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}
img.top_s {
    position:absolute;
    width: 190px;
    height: 190px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
img.bottom_s {
    position:absolute;
    width: 212px;
    height: 212px;
    margin: -10px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
img.bottom_s:hover {
    opacity:0;
}
img.top_strong {
    position:absolute;
    margin: -13px;
    width: 220px;
    height: 220px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
img.bottom_strong {
    position:absolute;
    width: 200px;
    height: 200px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
img.bottom_strong:hover {
    opacity:0;
}


img.top_move {
    position:absolute;
    margin:
    width: 200px;
    height: 200px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
img.bottom_move {
    position:absolute;
    width: 200px;
    height: 200px;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
img.bottom_move:hover {
    opacity:0;
}
th {
    text-align: center;
    font-family: cursive;
    font-size: 40px;
}
span {
    color: red;
    font-size: 50px;
}
.bot_tds {
    text-align: center;
    font-size: 20px;
    font-family: "Comic Sans MS";
}
.last_td {
    text-align: center;
    font-size: 13px;
    font-family: Courier;
    color: rgba(0, 0, 0, 0.35);
}
#td_pad {
    padding-left: 10px;
}
#main {
    padding-top: 100px;
}

#main>table {
    margin: 0 auto;
}
